@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin-top: 180px;
    background-color: black;
}

.main {
    font-size: 18px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
  
#footer {
    clear: both;
    padding: 10px;
    color: Black;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}
  
#donate {
    position:relative;
    left: 50%;
    transform: translate(-50%, -50%);  
    bottom: 50px;
    clear: both;
    padding: 10px;
    text-align: center;
    margin-top: 240px;
    width: 400px !important;
    font-size: 60px !important;
}

#donate h5 {
  font-weight: normal;
  color:white;
}

.nav-link:hover {
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.type .type-txt {
    font-weight: 600;
    color: var(--black);
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: white;
}

.first-txt{
  font-family: geneva !important;
  font-size: 30px !important;
  text-align: center !important;
  margin-bottom: 3rem !important;
  font-weight:bold;
  text-decoration: underline;
}

.type .type-txt span {
    color: var(--light-black);
}

.content-ab {
  display:inline-block;
  font-size: 18px;
  text-indent: 150px;
  text-align: justify;
}

.type .type-txt h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
    color: var(--light-black);
}

.type .type-txt p {
    color: var(--light-black);
    font-size: 14px;
}

.type {
  padding: 15px 20px;
  color: var(--black);
  outline: none;
  border: 1px solid var(--grey);
  margin: 35px 15px;
  font-size: 14px;
  flex-basis: 48%;
}

.logo {
  float: left;
  left: 100px;
  border-radius: 50px;
}

.logo img{
 width: 400px;
 margin-left: 25px;
}

#current-time{
  position: absolute;
  top: 70px;
  left: -10px;
  width:100%;
  margin-top: 1px;
  font-weight: bold;
  text-align:right;
  color:white;
}

#current-date{
  position: absolute;
  top: 95px;
  left: -10px;
  width:100%;
  margin-top: 5px;
  font-weight: bold;
  text-align:right;
  color:white;
}

#mathematics{
  position: absolute;
  top: 120px;
  left: -10px;
  width:100%;
  margin-top: 5px;
  font-weight: bold;
  text-align:right;
  color:white;
}

.navbar-toggler{
  border-color: white;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
 }

 .navbar-collapse {
  justify-content: end;
}

@media (max-width: 500px) {
  .container {
      display: flex;
      flex-direction: column;
  }
}

@media(min-width: 501px) and (max-width: 768px) {
  .container {
      display: flex;
      flex-direction: column;
  }
}

@media(min-width: 768px) {
  .container {
      display: flex;
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    background-color: none;
  }

  .nav-link.active {
    color: white !important;
    font-weight: bold;
    background-color: black;
    width: 170px;
    border-radius: 15px;
    margin-left: 0px;
  }

  .bg-secondary {
    --bs-bg-opacity: 0;
  }

  .logo img{
    width: 300px;
    margin-left: 10px;
  }  
}