body {
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 3rem;
    padding-bottom: 0px;
    color: #5a5a5a;
    background: black;
  }

  #current-time{
    width:100%;
    margin-top: 25px;
    padding-right: 15px;
    font-weight: bold;
    text-align:right;
    color:white;
  }

  #current-date{
    width:100%;
    margin-top: 5px;
    padding-right: 15px;
    font-weight: bold;
    text-align:right;
    color:white;
  }

  #mathematics{
    width:100%;
    margin-top: 5px;
    padding-right: 15px;
    font-weight: bold;
    text-align:right;
    color:white;
  }

  .navbar-toggler{
    border-color: white;
  }

  .navbar-toggler-icon{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .logo {
     float: left;
     left: 100px;
     border-radius: 50px;
  }

  .logo img{
    width: 400px;
    margin-left: 25px;
  }

  .logo-style {
    border-radius:20px;
  }

  .no1-60 {
    color:yellow;

  }

  .intro{
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    clear:left;
  }

  .magic{
    font-size: 1.25rem;
    font-family: Roboto;
    color: white;
  }

  .answer{
    display:flex;
    margin-bottom: 0;
    margin-left: 2rem;
    color:white;
    font-family: Roboto;
    font-size: 1.25rem;
    vertical-align: middle;
  }

  .youranswer {
    display:flex;
    margin-top: 20px;
    margin-bottom: 0;
    align-items: center;
  }

  #gif {
    margin-top: 20px;
  }

  #secret {
    color:yellow;
    display:flex;
    margin-top: 20px;
    margin-bottom: 0;
    align-items: center;
  }

  .outro{
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
  }

  .magic2{
    font-size: 1.25rem;
    font-family: Roboto;
    color: white;
  }

  .goodluck{
    font-size: 1.25rem;
    font-family: Roboto;
    color: white;
    text-decoration: underline;
  }

  .goodluck-text{
    color:yellow;
  }

  .goodluck-text:hover{
    color:yellow;
  }

  .nav-link:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
  }

  .navbar-collapse{
    flex-basis: 100% !important;
    justify-content: space-around !important;
  }

  #main-button {
    color:black; 
    border: 2px solid black; 
    border-radius: 10px; 
    text-decoration:underline; 
    font-weight: bold; 
    background-color: rgb(111, 158, 247);
}

  .numbers {
    display:inline-flex;
    flex-direction: row;
  }

  .numbers img{
    left: 20px;
    margin: 20px;
    border: 5px solid cyan;
    border-radius: 10px;
  }

  .check {
    width: 100px;
    font-size: 1.25rem;
    font-family: Roboto;
    color: black;
    background: cyan;
    margin-left: 20px;
    border-radius: 5px;
  }

  .last{
    display:flex;
    justify-content: ro ;
  }

  .checkend {
    display:flex;
    width: 60px;
    font-size: 1.25rem;
    font-family: Roboto;
    color: black;
    background: yellow;
    font-weight: bolder;
    margin-left: 20px;
    border-radius: 5px;
  }

  .checkend:active {
    background-color: #3e8e41;
    color:white;
  }

  .checkend2 {
    width: 100px;
    font-size: 1.25rem;
    font-family: Roboto;
    color: black;
    background: yellow;
    font-weight: bolder;
    border-radius: 5px;
    margin-left:20px;
  }

  .checkend2:active {
    background-color: #3e8e41;
    color:white;
  }

  .checkbox {
    margin-left:10px;
    transform: scale(1.5);
    cursor:pointer;
  }

  label {
    margin-left: 10px;
  }

    @media (max-width: 768px) {
    .container-fluid {
      background-color: none;
    }

    .navbar-collapse{
      background:none;
    }
  
    .nav-link.active {
      font-weight: bold;
      background-color: black;
      width: 150px;
      margin-left: 0px;
    }

    #nav-link-home {
      width: 70px;
    }

    #nav-link-contact {
      width: 80px;
    }

    .bg-secondary {
      --bs-bg-opacity: 0;
    }

    .numbers img {
      width: 430px;
      height: 125px;
    }

    .numbers {
      display:block;
    }

    .logo img{
      width: 220px;
      margin-left: 10px;
    }  

    .intro{
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-left: 2rem;
      clear:left;
    }
  }

  @media (max-width: 500px) {
     .numbers img {
      width: 350px;
      height: 117px;
    }
  }