body {
  padding: 0;
  color: #5a5a5a;
  background: rgb(2, 46, 75);
  margin: 0;
}

.no1-60 {
  color: yellow;
}

.intro_container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 65px;
  margin-bottom: 20px;
}

.intro {
  display: flex;
  align-items: center;
  width: 1160px;
}

.magic {
  font-size: 1.25rem;
  font-family: Roboto;
  color: white;
  padding: 5px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  font-size: 1.25rem;
  vertical-align: middle;
}

#secret {
  color: yellow;
}

.outro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.magic2 {
  font-size: 1.25rem;
  color: white;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: yellow;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: red;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.goodluck {
  margin-top: 25px;
  font-size: 1.25rem;
  color: white;
  text-decoration: underline;
}

.goodluck-text {
  color: yellow;
}

.goodluck-text:hover {
  color: yellow;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.numbers img {
  left: 20px;
  margin: 20px;
  border: 5px solid cyan;
  border-radius: 10px;
}

.check {
  width: 100px;
  font-size: 1.25rem;
  font-family: Roboto;
  color: black;
  background: cyan;
  margin-left: 20px;
  border-radius: 5px;
}

.last {
  display: flex;
  justify-content: center;
}

.checkend {
  display: flex;
  width: 60px;
  font-size: 1.25rem;
  font-family: Roboto;
  color: black;
  background: yellow;
  font-weight: bolder;
  margin-left: 20px;
  border-radius: 5px;
}

.checkend:hover {
  cursor: pointer;
}

.checkend:active {
  background-color: #3e8e41;
  color: white;
}

.checkend2 {
  width: 100px;
  font-size: 1.25rem;
  font-family: Roboto;
  color: black;
  background: yellow;
  font-weight: bolder;
  border-radius: 5px;
  margin-left: 20px;
}

.checkend2:hover {
  cursor: pointer;
}

.checkend2:active {
  background-color: #3e8e41;
  color: white;
}

.checkbox {
  margin-left: 10px;
  transform: scale(1.5);
  cursor: pointer;
}

label {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .nav_menu a {
    font-size: 18px;
  }

  .intro {
    width: 90%;
  }

  .magic {
    font-size: 16px;
  }

  .numbers img {
    width: 430px;
    height: 125px;
  }

  .numbers {
    flex-direction: column;
    align-items: center;
  }

  label {
    font-size: 16px;
  }

  .checkend,
  .checkend2,
  .answer span,
  #secret,
  .magic2,
  .goodluck-text {
    font-size: 16px;
  }

  .answer {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .magic2 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .numbers img {
    width: 350px;
    height: 117px;
  }
}
